header{
  background-color: rgb(18, 18, 175);
  color: black;
  width: 100%;
  height: 290px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  }
 .titulo{
 position: relative;
 background-color: red;
 color: black;
 width: 100%;
 height: 90px;
 text-align: center;
 padding: 20px;
 display: inline-block;
 top: 215px;
 text-size-adjust: 50px;
 text-decoration-style: solid;
 }
 #Escudos {
      display: flex;
      position: absolute;
      justify-content: flex-start;
      flex-direction: row;
      top: 115px;
    }

#EscudoA {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    }

body{
      background-color: lightblue;
      color: lightblue;
    }